.aside-x2,
.article-x1 {
    width: 100%;
    border-radius: 3px;
}
.aside-x2 .label-term {
    font-size: 12px;
}
@media screen and (min-width: 600px) {
    .box-tools {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
    }
    .box-tools > div {
        margin: auto;
    }
    .box-tools > div:nth-of-type(1) {
        width: 70%;
    }
    .box-tools > div:nth-of-type(2) {
        width: 30%;
    }
}
@media screen and (min-width: 900px) {
    .aside-x2 {
        width: 28%;
    }
    .article-x1 {
        width: 68%;
    }

    .box-tools > div:nth-of-type(1),
    .box-tools > div:nth-of-type(2) {
        width: 100%;
    }
}
