/***************************
ESTILOS - SECCION DEL CONTENIDO
***************************/
.box-section-contenido {
    margin: 50px;
}
.box-contenido {
    max-width: 350px;
    margin: 30px auto;
    padding: 8px 8px;
    box-sizing: border-box;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transition: all 300ms linear;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
}
.box-contenido:hover {
    color: rgb(57, 57, 105);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}
.box-icon-title {
    height: 120px;
}
.box-contenido i {
    font-size: 65px;
    color: rgb(57, 57, 105);
}

.animate-icon {
    animation: anime 450ms linear 450ms infinite alternate;
}
@keyframes anime {
    from {
        padding-top: 15px;
        padding-bottom: 0px;
    }
    to {
        padding-top: 0px;
        padding-bottom: 15px;
    }
}

.box-contenido > h3 {
    font-size: 20px;
    margin: 10px 0;
    transition: all 300ms linear;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
}
.box-contenido > p {
    font-size: 14px;
    margin: 10px 0;
}

/**************************
ESTILOS DE LA CAJA DE TECNOLOGIAS UTILIZADAS
****************************/
.box-tecnology {
    background-color: rgb(53, 53, 53);
    color: var(--color-default);
    text-align: center;
}

.box-tecnology h5,
.box-tecnology > div {
    padding: 3em 0.5em;
    box-sizing: border-box;
}
.box-tecnology i {
    font-size: 35px;
    cursor: default;
    display: block;
    color: #ccc;
}
.card-items > p {
    opacity: 0;
    transition: all 200ms linear;
}
.card-items > i:hover {
    color: var(--color-default);
    font-weight: bold;
}
.card-items > i:hover ~ p {
    opacity: 1;
}

/***************************
ESTILOS GENERALES
***************************/
@media screen and (min-width: 800px) {
    .box-tecnology i {
        font-size: 50px;
    }
}
