.card-shadow {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

/**********************************
ESTILOS DEL SCROLL
************************************/
.scroll-default {
    overflow: auto;
}
.scroll-default::-webkit-scrollbar-track {
    background-color: rgb(216, 213, 210);
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.scroll-default::-webkit-scrollbar {
    width: 8px;
    background-color: var(--color-default);
}
.scroll-default::-webkit-scrollbar-thumb {
    width: 8px;
    background-color: rgb(100, 100, 100);
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
